<div class="card flex flex-wrap gap-3">
    <div class="p-2 border-1 surface-border border-round w-15rem">
        <ul class="list-none flex flex-column gap-2 p-0 m-0">
            @for(product of availableProducts; track product) {
                <li
                    pDraggable
                    (onDragStart)="dragStart(product)"
                    (onDragEnd)="dragEnd()"
                    >
                    {{product.label}}
                </li>
            }
        </ul>
    </div>
</div>
<div class="p-2 border-1 surface-border border-round w-15rem" pDroppable (onDrop)="drop()">
    <p class="text-center surface-border border-bottom-1">
        Drop Zone
    </p>
    <ul class="list-none flex flex-column gap-2 p-0 m-0">
        @if(selectedProducts) {
            @for(product of selectedProducts; track product){
                <li class="p-2 border-round shadow-1">
                    {{product.label}}
                </li>
            }
        }
    </ul>
</div>