<!-- <div class="flex flex-wrap" style="max-width: 1200px;">
    <div class="flex align-items-center justify-content-center bg-primary font-bold m-2 border-round" style="min-width: 200px; min-height: 100px">
        <app-line-chart></app-line-chart>
    </div>
    <div class="flex align-items-center justify-content-center bg-primary font-bold m-2 border-round" style="min-width: 200px; min-height: 100px">
        <app-pie-chart></app-pie-chart>
    </div>
    <div class="flex align-items-center justify-content-center bg-primary font-bold m-2 border-round" style="min-width: 200px; min-height: 100px">
        <app-basic-chart></app-basic-chart>
    </div>
    <div class="flex align-items-center justify-content-center bg-primary font-bold m-2 border-round" style="min-width: 200px; min-height: 100px">
        <app-doughnut-chart></app-doughnut-chart>
    </div>
</div> -->
<div class="grid"  style="max-width: 40%;">
    <div class="col-6">
        <app-line-chart></app-line-chart>
    </div>
    <div class="col-6">
        <app-pie-chart></app-pie-chart>
    </div>
    <div class="col-6">
        <app-basic-chart></app-basic-chart>
    </div>
    <div class="col-6">
        <app-doughnut-chart></app-doughnut-chart>
    </div>
</div>