<div class="main-dashboard" style="border: 1px solid blue;">
    <div class="charts-area">
        <app-line-chart
            [dataForLineChart]="dataForBasicChart"
        ></app-line-chart>
        <div class="bars-pie">
                <app-basic-chart></app-basic-chart>
                <app-doughnut-chart></app-doughnut-chart>
                <app-pie-chart
                    [dataToRender]="dataForPieChart"
                >
                </app-pie-chart>
        </div>
    </div>
    <div class="controls-area">

    </div>
</div>