<div class="main-dashboard" style="border: 1px solid blue;">
    <div class="charts-area">
        <div class="bars-pie">
            <app-doughnut-chart></app-doughnut-chart>
            <app-pie-chart
            [dataToRender]="dataForPieChart"
            >
        </app-pie-chart>
        <single-bar-chart></single-bar-chart>
        <app-line-chart
            [dataForLineChart]="dataForBasicChart"
        ></app-line-chart>
        <app-combo-chart></app-combo-chart>
        </div>
    </div>
</div>