.main-dashboard { 
    flex-direction: row;
    justify-content:start;
    height: 80%;
    
    .charts-area {
        max-width: auto;
        display: flex;
        flex-direction: column;
        max-height: 75vh;
        flex-wrap:wrap;
        // overflow-y: auto;
        position: relative;
        padding: 2rem;
        .bars-pie {
            padding-top: 2rem;
            display: flex;
            flex-direction: row;
        }
    }

    .charts-container {
        grid-template-rows: auto;

    }
}