<div class="card flex justify-content-center">
    <!-- <p-toast />
    <p-fileUpload
        name="demo[]"
        (onUpload)="onUpload($event)"
        [multiple]="false"
        accept=".csv"
        [maxFileSize]="1000000"
        #fileUploaded
    >
        <ng-template>
            @if (uploadedFiles.length) {
                <ul>
                    @for(file of uploadedFiles; track file){
                        <li>
                            {{file.name}} - {{file.size}} bytes
                        </li>
                    }
                </ul>
            }
        </ng-template>
    </p-fileUpload> -->
    <!-- <p-toast />
    <p-fileUpload
    mode="basic" 
    chooseLabel="Choose" 
    chooseIcon="pi pi-upload"
    name="demo[]" 
    accept=".csv" 
     (onSelect)="onUpload($event)"/>
    > -->
    <label for="uploaderFile">Choose a CSV file</label>
    <input #csvUploader type="file" name="uploaderFile" accept=".csv" (change)="seeContent($event)">
</div>
<div>
    <!-- @for(title of csvHeader; track title) {
        <span>{{title}}</span>
    } -->

</div>
<button (onClick)="showContent()">See content</button>