.uploader-container {
    padding: 0.5rem;
    border: 1px solid gray;
    margin-bottom: 0.25rem;

    .uploader-label {
        margin-right: 1.5rem;
    }
}

.csv-controls {
    border: 1px solid blue;

    .columns-selector {
        border: 1px solid black;
        min-width: 10%;
        height: 32rem;
        display: flex;
        flex-direction: column;
        overflow-x: auto;
    }

    .csv-preview {
        border: 1px solid red;
    }
}

p-checkbox {
    label {
        .p-checkbox-label {
            font-size: 50px;
        }
    }
}

// .p-checkbox-label {
//     margin-left: 0.5rem;
//     font-size: 30rem !important;
// }

.p-checkbox-box {
    width: 40px !important;
    height: 40px !important;    
}